<h1>New Figure</h1>
<form action="/figures" method="post">
  <label for="figure_name">Figure's name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
  <p>Select a title:</p>
  <% @titles.each { |title| %>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"> <%= title.name %> </input>
  <% } %>
  <br>
  <p> or create new title:</p>
  <input type="text" name="title[name]" id="new_title">
  <br></br>
  <p>Select a landmark:</p>
  <% @landmarks.each { |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">  <%= landmark.name %>  </input>
  <% } %>
  <p>or create a new landmark:</p>
  <input type="text" name="landmark[name]" id="new_landmark">
  <br></br>
  <input type="submit" value="Create New Figure">
</form>
